#logintap img{
    width: 7%;
    height: 7%;
}

#footer_nav img{
    float: right;
    width: 2%;
    height: 2%;
}

#footer_nav p{
    text-align: center;
}

.contact{

    text-align: center;
    text-decoration: none;
    color: black;
}

#detailhotel img{
    width: 60%;
}

#detailhotel
{
    margin-top: 1.5%;
    margin-left: 3%;
}

#logintap,#footer_nav{
    background-color: rosybrown;
}
body{
    background-color: #e0e0e0;
}

#logintap a{
    padding-top:3%;
    padding-right: 1%;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'ubuntu';
}