#logintap img{
    width: 7%;
    height: 7%;
}

#homepage img{
    margin: 2%;
    border-radius: 15%;
    width: 300px;
    height: 300px;
}

#footer_nav img{
    float: right;
    width: 2%;
    height: 2%;
}
#footer_nav p{
    text-align: center;
}
#footer{
    
}
.contact{

    text-align: center;
    text-decoration: none;
    color: black;
}

#logintap,#footer_nav{
    background-color: rosybrown;
}

body{
    background-color: #e0e0e0;
}

#searchbar{
    padding-top: 5%;
    padding-left: 40%;
    padding-bottom: 5%;
    background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
    
}

#searchbar input{
    border: 1px solid transparent;
    border-radius: 4px;
    width: 30%;
    height: 30px;
}

#homepage{
    align-content: center;
    text-align: center;
    margin: 8%; 
}

#logintap a{
    padding-top:3%;
    padding-right: 1%;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'ubuntu';
}
#homepage a {
    text-decoration: none;
    color: black;
}