#logintap img{
    width: 10%;
    height: 10%;
}

#footer_nav img{
    width: 2%;
    height: 2%;
}

.blu img,.Lalit img,.taj img{
    width: 50%;
    height: 50%;
}   
#logintap,#footer_nav{
    background-color: rosybrown;
}
body{
    background-color: #e0e0e0;
}

.blu,.Lalit,.taj{
    background-color: rgb(132,136,139);
    width: 30%;
}

