#logintap img{
    width: 7%;
    height: 7%;
}

#footer_nav img{
    float: right;
    width: 2%;
    height: 2%;
}

#footer_nav p{
    text-align: center;
}

.contact{

    text-align: center;
    text-decoration: none;
    color: black;
}

.blu img,.Lalit img,.taj img{
    width: 50%;
    height: 50%;
}   
#logintap,#footer_nav{
    background-color: rosybrown;
}
body{
    background-color: #e0e0e0;
}

.blu,.Lalit,.taj{
    background-color: rgb(132,136,139);
    width: 30%;
}

#logintap a{
    padding-top:3%;
    padding-right: 1%;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'ubuntu';
}

