#logintap img{
    width: 7%;
    height: 7%;
}

#footer_nav img{
    float: right;
    width: 2%;
    height: 2%;
}

#footer_nav p{
    text-align: center;
}

.contact{

    text-align: center;
    text-decoration: none;
    color: black;
}

#logintap a{
    padding-top:3%;
    padding-right: 1%;
    float: right;
    text-align: center;
    text-decoration: none;
    color: black;
    font-family: 'ubuntu';
}

#paymentinfo{
    
}

.confirmdetail img{
    width: 50%;
}
.confirmdetail
{
    background-color: rgb(132,136,139);
    margin: auto;
    margin-top: 2%;
    width: 50%;
    padding-bottom: 8px;
}

.totalamount{
    border-style:solid;
    border-width: 1px;
    padding: 5%;
    margin-left: 2%;
    margin-right: 2%;
}

#logintap,#footer_nav{
    background-color: rosybrown;
}
body{
    background-color: #e0e0e0;
}